html {
  position: relative;
  min-height: 100%;
}

body {
    line-height: 1.5;
    font-size: 75%;
    color: #cfcfcf;
    font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif;;
    font-size: 20px;
    font-weight: 500;
    background: #000;
    line-height: 27px;
    margin-bottom: 60px;
    margin-top: 80px;

}


.header{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: blue;
    text-align: center;
    height: 60px;
    
}

.footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: blue;
    text-align: center;
    height: 60px;
}


.arlicle-image {
    margin: 20px;
    max-width: 100%;
}

.article-header{
    margin: 0 0 15px;
    padding: 0 20px;
    line-height: 18px;
    font-size: 20px;
    color: #f1c232;
    text-transform: uppercase;
}

em{
    font-style: italic;
}

.quote {
    font-style: italic;
    color: #9c9c9c;
    display: block;
    margin: 1em 40px;
}

